   {{!-- <ul class="main">
        <li><a class="main" href="/addExpense/{{user}}">Add expense</a></li>
        <li><a class="main" href="/expenses/{{user}}">View Expenses</a></li>

      </ul> --}}

<form action="/getExpenses/{{user}}" method="GET">
<div class="ml-20">
<h3 class="">Expenses for {{user}}</h3>
        <button type="submit" class="text-center">Show for weekly</button>

    <h4 name="category" value="Communication" >Communication</h4> <h4>{{total}}</h4>
    <h4 name="category" value="Food">Food</h4> <h4>{{total}}</h4>
    <h4 name="category" value="Toiletries">Toiletries</h4>{{total}}<h4></h4>
    <h4 name="category" value="Travel">Travel</h4> <h4>{{total}}</h4>
</div>
</form>