<div class="box">
<style>
      table,
      th,
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
    </style>
<div class="">
<h2 class="">Expenses for {{user}}</h2>
        <br>
        <br>

</div>

<table class="table table-striped table-secondary table-hover table-responsive-md w-auto" >
  <tr>
    <th>Category</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  {{#each expense}}
  <tr>
    <td class="th-sm">{{category}}</td>
    <td class="th-sm">{{amount}}</td>
    <td class="th-sm">{{actual_date}}</td>
  </tr>
  {{/each}}
</table>


<a href="/totalexpenses/{{user}}">Get total expenses by Category</a>
         
    

  </div>




    
        
  